@model IEnumerable<project.Models.Flavors>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

    if (StaticFields.IsUser)
        Layout = "~/Views/Shared/_Layout2.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>


<body class="sub_page">

    <!-- our ice cream section -->
    <section class="our_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    <span>
                        Our ice cream
                    </span>
                </h2>
            </div>
            
            <div class="our_container">

                @*<div class="quote_btn-container ">
            <a asp-action="Create">Create New</a>
        </div>*@
                <a asp-action="Create">
                    <img src="~/images/create_New.png" width="90" height="80" >
                </a>

                @foreach (var item in Model)
                {

                    <div class="box">
                        <div class="img-box">
                            <img src="@item.Image_URL" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.Name
                            </h5>
                            <p>
                                @item.Description
                            </p>
                            <a asp-controller="Flavors" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-controller="Flavors" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <a asp-controller="Flavors" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </div>
                    </div>
                }
                @*<div class="box">
            <div class="img-box">
                <img src="~/images/ice-2.png" alt="">
            </div>
            <div class="detail-box">
                <h5>
                    Mix Ice Cream
                </h5>
                <p>
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud
                </p>
                <a href="">
                    See More
                </a>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="~/images/ice-3.png" alt="">
            </div>
            <div class="detail-box">
                <h5>
                    Fruit Ice Cream
                </h5>
                <p>
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud
                </p>
                <a href="">
                    See More
                </a>
            </div>
        </div>*@
            </div>
            </div>
    </section>
    <!-- end our ice cream section -->

    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

</body>
