@model IEnumerable<project.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

    if (StaticFields.IsUser)
        Layout = "~/Views/Shared/_Layout2.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>



@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<section class="our_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>
                    Orders
                </span>
            </h2>
        </div>
        <a asp-action="Create">
            <img src="~/images/create_New.png" width="60" height="50">
        </a>
        <div class="mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>

                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>

                            @Html.DisplayNameFor(model => model.PhoneNumber)

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Street)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HouseNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IceCream)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeelsLike)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Humidity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pressure)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/images/user.png" width="14" height="14">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <img src="~/images/phone.png" width="14" height="14">
                                @Html.DisplayFor(modelItem => item.PhoneNumber)

                            </td>
                            <td>
                                <img src="~/images/mail.png" width="14" height="14">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <img src="~/images/location.png" width="14" height="14">
                                @Html.DisplayFor(modelItem => item.Street)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HouseNumber)
                            </td>
                            <td>
                                <img src="~/images/icecream2.png" width="20" height="27">
                                @Html.DisplayFor(modelItem => item.IceCream)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FeelsLike)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Humidity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pressure)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
</section>
