@model IEnumerable<project.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";

    if (StaticFields.IsUser)
        Layout = "~/Views/Shared/_Layout2.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Home.css" />
</head>
<section class="our_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>
                    Users
                </span>
            </h2>
        </div>
        <a asp-action="Create">
            <img src="~/images/create_New.png" width="60" height="50">
        </a>

        @*<div class="row">
                <div class="col-lg-7 col-md-6 ">
                    <h1>Users</h1>
                    <a asp-action="Create">
                        <img src="~/images/create_New.png" width="60" height="50">
                    </a>
                </div>
                <div class="col-lg-7 col-md-6">
                    <a asp-action="Create">
                        <img src="~/images/create_New.png" width="60" height="50">
                    </a>
                </div>
            </div>*@

        @*<p>
                <a asp-action="Create">Create New</a>
            </p>*@
        <div class="mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/images/user.png" width="14" height="14">
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
